{% extends "base.html" %}

{% block page_title %}ユーザー詳細{% endblock %}
{% block page_header %}ユーザー詳細{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>ユーザー名</th>
                <th>レベル</th>
                <th>勝利数</th>
                <th>敗北数</th>
                <th>称号</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{profile.user.username}}</td>
                <td>{{profile.level}}</td>
                <td>{{profile.win_count}}</td>
                <td>{{profile.loss_count}}</td>
                <td>{{profile.rank.title}}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'login_app:profile_form' %}">戻る</a>
    {% endblock %}