{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/game_over.css' %}">
{% endblock %}

{% block page_title %}ゲームオーバー{% endblock %}


{% block content %}
<div class="game-over-container">
  <h1>ゲームオーバー</h1>
  <p>残念、下記ボタンを押して再チャレンジしよう!!</p>
  <p>クリアしたステージ数: {{ bt_n }}</p>

  <a href="{% url 'battle_app:battle_start' %}" class="button">バトル再挑戦</a>

  <form action="{% url 'logout' %}" method="post" class="logout-form">
    {% csrf_token %}
    <button type="submit">ログアウト</button>
  </form>
</div>
{% endblock %}
